<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>jSynth</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<main>
    <div id="app">

        <div class="unit">
            <div class="controls">
                <div class="start">
                    <button type="button"></button>
                </div><!-- /.start -->
            </div><!-- /.controls -->
        </div>

        <div class="unit" v-for="(synth, synthIndex) in synths" :key="'synth-' + synthIndex">
            <div class="synth">

                <div class="oscillators">
                    <div class="oscillator">
                        <div class="waveforms">
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                        </div><!-- /.waveforms -->
                        <div class="knobs">
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                        </div><!-- /.knobs -->
                    </div><!-- /.oscillator -->
                    <div class="oscillator">
                        <div class="waveforms">
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                        </div><!-- /.waveforms -->
                        <div class="knobs">
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                        </div><!-- /.knobs -->
                    </div><!-- /.oscillator -->
                    <div class="oscillator">
                        <div class="waveforms">
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                        </div><!-- /.waveforms -->
                        <div class="knobs">
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                        </div><!-- /.knobs -->
                    </div><!-- /.oscillator -->
                    <div class="oscillator">
                        <div class="waveforms">
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                            <div class="waveform">
                                <button type="button"></button>
                            </div>
                        </div><!-- /.waveforms -->
                        <div class="knobs">
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                            <div class="knob-wrapper">
                                <div class="knob" data-value="0" data-arc="320"></div>
                            </div>
                        </div><!-- /.knobs -->
                    </div><!-- /.oscillator -->
                </div><!-- /.oscillators -->

                <div class="envelope">
                    <div class="decay">
                        <button type="button"></button>
                    </div><!-- /.decay -->
                </div><!-- /.envelope -->

                <div class="effects">
                    <div class="knobs">
                        <div class="knob-wrapper">
                            <div class="knob" data-value="0" data-arc="320"></div>
                        </div>
                        <div class="knob-wrapper">
                            <div class="knob" data-value="0" data-arc="320"></div>
                        </div>
                    </div><!-- /.knobs -->
                    <div class="delay">
                        <button type="button"></button>
                    </div><!-- /.delay -->
                </div><!-- /.effects -->

                <div class="sequencer">
                    <div class="steps">
                        <div class="step" v-for="step in 16" :key="step">
                            <button type="button"
                                    :class="getSequencerButtonClass('synth', synthIndex, step - 1)"
                                    @click="setEditedSequencerStep('synth', synthIndex, step - 1)"
                            ></button>
                        </div>
                    </div><!-- /.steps -->
                    <div class="clear">
                        <button type="button" @click="sendSynthMessage(synthIndex)"></button>
                    </div><!-- /.clear -->
                </div><!-- /.sequencer -->

                <div class="keyboard">
                    <div class="octave" v-for="octave in 3" :key="octave">
                        <button type="button"
                                class="white c"
                                :class="getSynthSequencerNoteClass(synthIndex, 'c' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('c' + getSynthOctave(octave, synthIndex))"
                        ></button>
                        <button type="button"
                                class="black c_sharp"
                                :class="getSynthSequencerNoteClass(synthIndex, 'c#' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('c#' + getSynthOctave(octave, synthIndex))"
                        ></button>
                        <button type="button"
                                class="white d"
                                :class="getSynthSequencerNoteClass(synthIndex, 'd' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('d' + getSynthOctave(octave, synthIndex))"
                        ></button>
                        <button type="button"
                                class="black d_sharp"
                                :class="getSynthSequencerNoteClass(synthIndex, 'd#' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('d#' + getSynthOctave(octave, synthIndex))"
                        ></button>
                        <button type="button"
                                class="white e"
                                :class="getSynthSequencerNoteClass(synthIndex, 'e' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('e' + getSynthOctave(octave, synthIndex))"
                        ></button>
                        <button type="button"
                                class="white f"
                                :class="getSynthSequencerNoteClass(synthIndex, 'f' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('f' + getSynthOctave(octave, synthIndex))"></button>
                        <button type="button"
                                class="black f_sharp"
                                :class="getSynthSequencerNoteClass(synthIndex, 'f#' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('f#' + getSynthOctave(octave, synthIndex))"></button>
                        <button type="button"
                                class="white g"
                                :class="getSynthSequencerNoteClass(synthIndex, 'g' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('g' + getSynthOctave(octave, synthIndex))"></button>
                        <button type="button"
                                class="black g_sharp"
                                :class="getSynthSequencerNoteClass(synthIndex, 'g#' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('g#' + getSynthOctave(octave, synthIndex))"></button>
                        <button type="button"
                                class="white a"
                                :class="getSynthSequencerNoteClass(synthIndex, 'a' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('a' + getSynthOctave(octave, synthIndex))"></button>
                        <button type="button"
                                class="black a_sharp"
                                :class="getSynthSequencerNoteClass(synthIndex, 'a#' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('a#' + getSynthOctave(octave, synthIndex))"></button>
                        <button type="button"
                                class="white b"
                                :class="getSynthSequencerNoteClass(synthIndex, 'b' + getSynthOctave(octave, synthIndex))"
                                @click="setSynthSequencerNote('b' + getSynthOctave(octave, synthIndex))"></button>
                    </div><!-- /.octave -->
                </div><!-- /.keyboard -->

            </div><!-- /.synth -->
        </div><!-- /.unit -->

        <div class="unit" v-for="(drumMachine, drumMachineIndex) in drumMachines"
             :key="'drumMachine-' + drumMachineIndex">
            <div class="drum-machine">

                <div class="sequencer">
                    <div class="steps">
                        <div class="step" v-for="step in 16" :key="step">
                            <button type="button"
                                    :class="getSequencerButtonClass('drumMachine', drumMachineIndex, step - 1)"
                                    @click="setEditedSequencerStep('drumMachine', drumMachineIndex, step - 1)"
                            ></button>
                        </div>
                    </div><!-- /.steps -->
                    <div class="clear">
                        <button type="button" @click="sendDrumMachineMessage(drumMachineIndex)"></button>
                    </div><!-- /.clear -->
                </div><!-- /.sequencer -->

                <div class="pads">
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                    <div class="pad">
                        <button type="button"></button>
                    </div>
                </div><!-- /.pads -->

            </div><!-- /.drum-machine -->
        </div><!-- /.unit -->

    </div>
</main>

<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/jquery-ui-1.12.1.min.js"></script>
<script src="js/jquery.knob.min.js"></script>
<script src="js/vue-2.6.12.js"></script>

<script>
    $(function () {

        const app = new Vue({
            el: '#app',
            data: {
                synths: [
                    // Synth 0
                    {
                        oscillators: [
                            {
                                waveform: 'square',
                                volume: 25,
                                tune: 0
                            },
                            {
                                waveform: 'square',
                                volume: 15,
                                tune: 1
                            },
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                        ],
                        hasDecay: 0,
                        hasDelay: 0,
                        cutoff: 600,
                        resonance: 0,
                        sequence: [
                            {isEmpty: false, note: 'd2'},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: false, note: 'g2'},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: false, note: 'a#1'},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                        ]
                    },
                    // Synth 1
                    {
                        oscillators: [
                            {
                                waveform: 'saw',
                                volume: 25,
                                tune: 0
                            },
                            {
                                waveform: 'saw',
                                volume: 10,
                                tune: 1
                            },
                            {
                                waveform: 'triangle',
                                volume: 10,
                                tune: 101
                            },
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                        ],
                        hasDecay: 1,
                        hasDelay: 1,
                        cutoff: 1200,
                        resonance: 100,
                        sequence: [
                            {isEmpty: false, note: 'd3'},
                            {isEmpty: false, note: 'a3'},
                            {isEmpty: false, note: 'f5'},
                            {isEmpty: false, note: 'd3'},
                            {isEmpty: false, note: 'a3'},
                            {isEmpty: false, note: 'e5'},
                            {isEmpty: false, note: 'd3'},
                            {isEmpty: false, note: 'a3'},
                            {isEmpty: false, note: 'd5'},
                            {isEmpty: false, note: 'd3'},
                            {isEmpty: false, note: 'a3'},
                            {isEmpty: false, note: 'c5'},
                            {isEmpty: false, note: 'd3'},
                            {isEmpty: false, note: 'a4'},
                            {isEmpty: false, note: 'c5'},
                            {isEmpty: false, note: 'd5'}
                        ]
                    },
                    // Synth 2
                    {
                        oscillators: [
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                            {
                                waveform: 'sine',
                                volume: 0,
                                tune: 0
                            },
                        ],
                        hasDecay: 0,
                        hasDelay: 0,
                        cutoff: 20000,
                        resonance: 0,
                        sequence: [
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''},
                            {isEmpty: true, note: ''}
                        ]
                    },
                ],
                drumMachines: [
                    // Drum machine 0
                    {
                        sequence: [
                            {samples: ['kick', 'hihat-closed', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-closed', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['snare', 'hihat-closed', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-closed', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['', '', '', '']},
                        ]
                    },
                    // Drum machine 1
                    {
                        sequence: [
                            {samples: ['hihat-closed', '', '', '']},
                            {samples: ['hihat-semiopen', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-closed', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-semiopen', '', '', '']},
                            {samples: ['hihat-open', 'clap', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-closed', '', '', '']},
                            {samples: ['hihat-semiopen', '', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-closed', 'clap', '', '']},
                            {samples: ['', '', '', '']},
                            {samples: ['hihat-semiopen', '', '', '']},
                            {samples: ['hihat-open', 'cricket', '', '']},
                            {samples: ['', '', '', '']},
                        ]
                    }
                ],
                currentSequencerStep: 0,
                // TODO: Choose better names for these variables
                editSequencerStatus: false,
                editSequencerSynthType: null,
                editSequencerSynthIndex: null,
                editSequencerStep: null,
            },
            methods: {
                sendSynthMessage: function (index) {
                    const synth = this.synths[index];
                    const data = {
                        type: 'synth',
                        index: index,
                        oscillators: synth.oscillators,
                        has_decay: synth.hasDecay === 1,
                        has_delay: synth.hasDelay === 1,
                        cutoff: synth.cutoff,
                        resonance: synth.resonance,
                        sequence: synth.sequence
                    }
                    socket.send(JSON.stringify(data));
                },
                sendDrumMachineMessage: function (index) {
                    const drumMachine = this.drumMachines[index];
                    const data = {
                        type: 'drumMachine',
                        index: index,
                        sequence: drumMachine.sequence
                    }
                    socket.send(JSON.stringify(data));
                },
                getSequencerButtonClass: function (synthType, synthIndex, step) {
                    let isActive = false;
                    if (synthType === 'synth' && synthIndex === 0) {
                        isActive = Math.floor(this.currentSequencerStep / 4) === step;
                    } else {
                        isActive = this.currentSequencerStep % 16 === step;
                    }
                    let isEdited = false;
                    if (this.editSequencerStatus
                        && this.editSequencerSynthType === synthType
                        && this.editSequencerSynthIndex === synthIndex
                        && this.editSequencerStep === step) {
                        isEdited = true;
                    }
                    const classes = {
                        active: isActive,
                        edited: isEdited
                    };
                    return classes;
                },
                setEditedSequencerStep: function (synthType, synthIndex, step) {
                    if (this.editSequencerStatus
                        && this.editSequencerSynthType === synthType
                        && this.editSequencerSynthIndex === synthIndex
                        && this.editSequencerStep === step) {
                        this.editSequencerStatus = false;
                        return;
                    }
                    this.editSequencerStatus = true;
                    this.editSequencerSynthType = synthType;
                    this.editSequencerSynthIndex = synthIndex;
                    this.editSequencerStep = step;
                },
                getSynthOctave: function (octave, synthIndex) {
                    if (synthIndex === 0) {
                        return octave;
                    }
                    return octave + 2;
                },
                getSynthSequencerNoteClass: function (synthIndex, note) {
                    let isActive = false;
                    let sequenceIndex = 0;
                    if (this.editSequencerStatus
                        && this.editSequencerSynthType === 'synth'
                        && this.editSequencerSynthIndex === synthIndex) {
                        sequenceIndex = this.editSequencerStep;
                        if (note === this.synths[synthIndex].sequence[sequenceIndex].note) {
                            isActive = true;
                        }
                    } else {
                        if (synthIndex === 0) {
                            sequenceIndex = Math.floor(this.currentSequencerStep / 4);
                        } else {
                            sequenceIndex = this.currentSequencerStep % 16;
                        }
                        if (note === this.synths[synthIndex].sequence[sequenceIndex].note) {
                            isActive = true;
                        }
                    }
                    const classes = {
                        active: isActive
                    };
                    return classes;
                },
                setSynthSequencerNote: function (note) {

                }
            }
        })

        const socket = new WebSocket("ws://localhost:8887")
        socket.onmessage = function (event) {
            const obj = JSON.parse(event.data);
            app.currentSequencerStep = obj.sequencerStep;
        }

        $(".knob").knob()
            .on('grab', function () {
            })
            .on('turn', function () {
            })
            .on('release', function () {
            })
            .on('rest', function () {
            })
    });
</script>

</body>
</html>