<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>jSynth</title>
</head>
<body>
<main>
    <div id="app">

        <div>
            <label for="synth">Synth</label>
            <input id="synth" type="text" v-model="synth">
        </div>
        <div>
            <label for="oscillator">Oscillator</label>
            <input id="oscillator" type="text" v-model.number="oscillator">
        </div>
        <div>
            <label for="waveform">Waveform</label>
            <input id="waveform" type="text" v-model="waveform">
        </div>
        <div>
            <label for="volume">Volume</label>
            <input id="volume" type="text" v-model.number="volume">
        </div>
        <div>
            <label for="tune">Tune</label>
            <input id="tune" type="text" v-model.number="tune">
        </div>


        <button type="button" @click="sendMessage">Send</button>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    const exampleSocket = new WebSocket("ws://localhost:8887")
    const app = new Vue({
        el: '#app',
        data: {
            synth: 's1',
            oscillator: 0,
            waveform: 'sine',
            volume: 25,
            tune: 0
        },
        methods: {
            sendMessage: function () {
                const data = {
                    synth: this.synth,
                    oscillator: {
                        index: this.oscillator,
                        waveform: this.waveform,
                        volume: this.volume,
                        tune: this.tune
                    }
                }
                console.log(data);
                exampleSocket.send(JSON.stringify(data));
            }
        }
    })
</script>
</body>
</html>