<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>jSynth</title>
</head>
<body>
<main>
    <div id="app">

        <p>Current tick: {{ currentTick }}</p>

        <div style="margin: 20px 0;" v-for="(synth, synthIndex) in synths" :key="'s' + synthIndex">

            <h2>Synth {{ synthIndex }}</h2>

            <h3>Oscillators</h3>
            <div style="overflow:hidden;">
                <div v-for="(oscillator, oscillatorIndex) in synth.oscillators" style="width: 300px; float:left;">
                    <h4>Oscillator {{ oscillatorIndex }}</h4>
                    <div>
                        <label>Waveform</label>
                        <input type="text" v-model="synths[synthIndex].oscillators[oscillatorIndex].waveform">
                    </div>
                    <div>
                        <label>Volume</label>
                        <input type="text" v-model.number="synths[synthIndex].oscillators[oscillatorIndex].volume">
                    </div>
                    <div>
                        <label>Tune</label>
                        <input type="text" v-model.number="synths[synthIndex].oscillators[oscillatorIndex].tune">
                    </div>
                </div>
            </div>

            <h3>Effects</h3>
            <div>
                <label>Has decay</label>
                <input type="text" v-model.number="synths[synthIndex].hasDecay">
            </div>
            <div>
                <label>Has delay</label>
                <input type="text" v-model.number="synths[synthIndex].hasDelay">
            </div>
            <div>
                <label>Cutoff</label>
                <input type="text" v-model.number="synths[synthIndex].cutoff">
            </div>
            <div>
                <label>Resonance</label>
                <input type="text" v-model.number="synths[synthIndex].resonance">
            </div>

            <h3>Sequence</h3>
            <div style="margin: 10px 0;" v-for="(item, noteIndex) in synth.sequence" :key="noteIndex">
                <label>Note {{ noteIndex }}</label>
                <input type="text" v-model="synths[synthIndex].sequence[noteIndex].note">
            </div>

            <button type="button" @click="sendSynthMessage(synthIndex)">Send message to synth {{ synthIndex }}</button>

            <hr>
        </div>

        <div style="margin: 20px 0;" v-for="(drumMachine, drumMachineIndex) in drumMachines" :key="'d' + drumMachineIndex">

            <h2>Drum machine {{ drumMachineIndex }}</h2>

            <h3>Sequence</h3>
            <div style="margin: 10px 0;" v-for="(item, noteIndex) in drumMachine.sequence" :key="noteIndex">
                <label>Note {{ noteIndex }}</label>
                <input type="text" v-model="drumMachines[drumMachineIndex].sequence[noteIndex].samples[0]">
                <input type="text" v-model="drumMachines[drumMachineIndex].sequence[noteIndex].samples[1]">
                <input type="text" v-model="drumMachines[drumMachineIndex].sequence[noteIndex].samples[2]">
                <input type="text" v-model="drumMachines[drumMachineIndex].sequence[noteIndex].samples[3]">
            </div>

            <button type="button" @click="sendDrumMachineMessage(drumMachineIndex)">Send message to drum machine {{
                drumMachineIndex }}
            </button>

            <hr>
        </div>

    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>

    const app = new Vue({
        el: '#app',
        data: {
            currentTick: 0,
            synths: [
                // Synth 0
                {
                    oscillators: [
                        {
                            waveform: 'square',
                            volume: 25,
                            tune: 0
                        },
                        {
                            waveform: 'square',
                            volume: 15,
                            tune: 1
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                    ],
                    hasDecay: 0,
                    hasDelay: 0,
                    cutoff: 600,
                    resonance: 0,
                    sequence: [
                        {isEmpty: false, note: 'd2'},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: false, note: 'g2'},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: false, note: 'a#1'},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                    ]
                },
                // Synth 1
                {
                    oscillators: [
                        {
                            waveform: 'saw',
                            volume: 25,
                            tune: 0
                        },
                        {
                            waveform: 'saw',
                            volume: 10,
                            tune: 1
                        },
                        {
                            waveform: 'triangle',
                            volume: 10,
                            tune: 101
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                    ],
                    hasDecay: 1,
                    hasDelay: 1,
                    cutoff: 1200,
                    resonance: 100,
                    sequence: [
                        {isEmpty: false, note: 'd3'},
                        {isEmpty: false, note: 'a3'},
                        {isEmpty: false, note: 'f5'},
                        {isEmpty: false, note: 'd3'},
                        {isEmpty: false, note: 'a3'},
                        {isEmpty: false, note: 'e5'},
                        {isEmpty: false, note: 'd3'},
                        {isEmpty: false, note: 'a3'},
                        {isEmpty: false, note: 'd5'},
                        {isEmpty: false, note: 'd3'},
                        {isEmpty: false, note: 'a3'},
                        {isEmpty: false, note: 'c5'},
                        {isEmpty: false, note: 'd3'},
                        {isEmpty: false, note: 'a4'},
                        {isEmpty: false, note: 'c5'},
                        {isEmpty: false, note: 'd5'}
                    ]
                },
                // Synth 2
                {
                    oscillators: [
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                    ],
                    hasDecay: 0,
                    hasDelay: 0,
                    cutoff: 20000,
                    resonance: 0,
                    sequence: [
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''}
                    ]
                },
                // Synth 3
                {
                    oscillators: [
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                        {
                            waveform: 'sine',
                            volume: 0,
                            tune: 0
                        },
                    ],
                    hasDecay: 0,
                    hasDelay: 0,
                    cutoff: 20000,
                    resonance: 0,
                    sequence: [
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''},
                        {isEmpty: true, note: ''}
                    ]
                }
            ],
            drumMachines: [
                // Drum machine 0
                {
                    sequence: [
                        {samples: ['kick', 'hihat-closed', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-closed', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['snare', 'hihat-closed', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-closed', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['', '', '', '']},
                    ]
                },
                // Drum machine 1
                {
                    sequence: [
                        {samples: ['hihat-closed', '', '', '']},
                        {samples: ['hihat-semiopen', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-closed', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-semiopen', '', '', '']},
                        {samples: ['hihat-open', 'clap', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-closed', '', '', '']},
                        {samples: ['hihat-semiopen', '', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-closed', 'clap', '', '']},
                        {samples: ['', '', '', '']},
                        {samples: ['hihat-semiopen', '', '', '']},
                        {samples: ['hihat-open', 'cricket', '', '']},
                        {samples: ['', '', '', '']},
                    ]
                }
            ]
        },
        methods: {
            sendSynthMessage: function (index) {
                const synth = this.synths[index];
                const data = {
                    type: 'synth',
                    index: index,
                    oscillators: synth.oscillators,
                    has_decay: synth.hasDecay === 1,
                    has_delay: synth.hasDelay === 1,
                    cutoff: synth.cutoff,
                    resonance: synth.resonance,
                    sequence: synth.sequence
                }
                socket.send(JSON.stringify(data));
            },
            sendDrumMachineMessage: function (index) {
                const drumMachine = this.drumMachines[index];
                const data = {
                    type: 'drumMachine',
                    index: index,
                    sequence: drumMachine.sequence
                }
                socket.send(JSON.stringify(data));
            }
        }
    })

    const socket = new WebSocket("ws://localhost:8887")
    socket.onmessage = function (event) {
        // console.log(event.data);
        const obj = JSON.parse(event.data);
        app.currentTick = obj.tick;
    }

</script>
</body>
</html>